<div class="parallax">
  <div class="parallax__layer parallax__layer--back">

  </div>
  <div class="parallax__layer parallax__layer--base">

    <app-navbar></app-navbar>

    <router-outlet></router-outlet>

    <img src="./img/linkedin_badge.png" alt="">
    <div>contact me:
      <button class="linkedin btn-outline-light" style="background: url('../assets/images/linkedin_badge.png'); background-size: contain;">LinkedIn</button>
      <button class="github btn-outline-light">GitHub</button>
      <button class="researchgate btn-outline-light">ResearchGate</button>
    </div>
  </div>

</div>



