<head>
  <script type="text/javascript">
    // When the user scrolls the page, execute myFunction
    window.onscroll = function() {myFunction()};

    // Get the nav__topnav
    var nav__topnav = document.getElementById("nav__topnav");

    // Get the offset position of the nav__topnav
    var sticky = nav__topnav.offsetTop;

    // Add the sticky class to the nav__topnav when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
      if (window.pageYOffset >= sticky) {
        nav__topnav.classList.add("sticky")
        console.log(`making sticky`,);
      } else {
        nav__topnav.classList.remove("sticky");
        console.log(`making un-sticky`,);
      }
    }
  </script>

</head>

<div class="parallax">
  <div class="parallax__layer parallax__layer--back">

  </div>
  <div class="parallax__layer parallax__layer--base">

    <app-navbar></app-navbar>

    <router-outlet></router-outlet>

    <img src="./img/linkedin_badge.png" alt="">
    <div>contact me:
      <button class="linkedin btn-outline-light" style="background: url('../assets/images/linkedin_badge.png'); background-size: contain;">LinkedIn</button>
      <button class="github btn-outline-light">GitHub</button>
      <button class="researchgate btn-outline-light">ResearchGate</button>
    </div>
  </div>

</div>



