<head>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<header>
  <div class="inner">
    <h1>Projects</h1>
    <p>Some of the tech-related activities I've been up to :)</p>
  </div>
</header>



<div class="intro">
  <p> Virtual Reality is becoming well known as a form of entertainment, but it's also finding its way into fields like architecture, industrial design, healthcare, and so much more!</p>
  <a class="btn-callout" href="https://teamtreehouse.com/vr">Start Your VR Journey</a>
</div>



<div class="main-content">

  <div class="project__card">
    <i class="material-icons icon">videocam</i>
    <h1>Crate Game</h1>
    <p>This was my first "game" endeavor. As a final project for a computer science course on rich web application development, I made this game. The user is a tiny bulldozer. The objective is to push the target crate to the end in as few moves as possible.</p>
    <p class="tech-used">Technology: PHP, JavaScript, AJAX, HTML, Canvas, MySQL</p>
    <a class="btn-info" href="#">Learn more</a>
  </div>


  <div class="project__card">
    <i class="material-icons icon">account_balance</i>
    <h1>Architectural Visualization</h1>
    <p>These experiences allow you to explore and interact with buildings and products in virtual reality. <a href="#">IKEA VR</a> is a popular example.</p>
    <a class="btn-info" href="#">Learn more</a>
  </div>


  <div class="project__card">
    <i class="material-icons icon">school</i>
    <h1>Education</h1>
    <p>VR allows students to visit other places and other times. For instance, the BBC produced a <a href="#">360° video</a> that allows users to see the scale of dinosaurs in stereoscopic 3D.</p>
    <a class="btn-info" href="#">Learn more</a>
  </div>

</div>

